*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/
.DS_Store
/build
obj
/captures
.externalNativeBuild
.cxx

app/libs/armeabi-v7a/libassimp.so
app/libs/arm64-v8a/libassimp.so
